<div class="container">
  <hr>
  <h3>Ask new question</h3>
  <form role="form" method="post">
    <textarea class="form-control input-small col-mn-9" name="name" placeholder="Enter your text here" rows="5" id="comment" ng-model="question.text"></textarea>
    <br>
    <tags-input ng-model="question.hashtags" type="text" placeholder="Tags">
      <auto-complete source="allTags()"></auto-complete>
    </tags-input>
    <br>
    <button type="submit" class="btn btn-primary pull-left" ng-click="postQuestion()"><span class="glyphicon glyphicon-plus"></span> Post question</button>
  </form>
</div>
